<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<title>Github code spelunking</title>
</head>
<body>
	<h1>Github code spelunking</h1>
	<q>Code Spelunking is a set of tools and techniques for working with and comprehending large code bases</q> -- <a href="http://www.codespelunking.com/pages/cs_definition.html">codespelunking.com</a>

	<p>
	This simple tool downloads code from your github, indexes it with ctags and finally highlights and interlinks it using Pygments.
	</p>

	<p>
	This project is a demonstration of my contribution to Pygments. Ultimate win if Github implements this
	</p>

	<form onsubmit="window.location.href = document.forms[0]['username'].value; return false;">
		<label>Github username <input type="text" id="username" /></label>
		<input type="submit" value="Go!" />
	</form>
</body>
</html>
